.kopfzeile {
  background-color: #282828;
  height: 60px;
  width: calc(100% - 10)
  }

.kopfzeile-content {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: medium;
  color: white;
	width:100%;
  display: flex;
  padding: 20px;
}

.flex-container-startseite {
  margin-left: auto;
  margin-right: auto;
  width: 80em;
  height: 40em;
  background-color: #282828;
  }

.startseite-elemente {
  display: flex;
  align-items: center;
  justify-content: center;
  }



a:link {
font-family: "Avenir", Helvetica, Arial, sans-serif;
text-transform: uppercase;
letter-spacing: 5px;
font-weight: medium;
color: white;
}


.about1 {
	flex: 1;
	order:1;
}

.work1 {
	flex: 1;
	order:2;
}

.mail1 {
	flex: 1;
	order:3;
}

.colab1 {
	flex: 1;
	order:4;
}






.about2 {
	flex: 1;
	order:1;
}

.work2 {
	flex: 1;
	order:2;
}

.mail2 {
	flex: 1;
	order:3;
}

.colab2 {
	flex: 1;
	order:4;
}



.header {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  font-weight: bold;
  }

.personal-data-title {
  text-transform: uppercase;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  }

.personal-data-content {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  font-weight: bold;
  }


.content-left {
 .personal-data {
   float: left;
   width: 50%;
   padding-right: 20px;
  }


.startseite {
  margin-left: auto;
  margin-right: auto;
  }



.elemente {
  width: 20px;
  }

h1, h2 {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  }


ul, ol, p {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  }
