.kopfzeile {
  background-color: #282828;
  height: 150px;
  width: calc(100% - 10)
  }

.kopfzeile-content {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: medium;
  color: white;
	width:100%;
  display: flex;
  padding: 20px;
}

.flex-container-startseite {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 65em;
  height: 12em;
  background-color: #282828;
  }

.flex-item {
  margin: 50px;
  }

.flex-item2 {
  margin-top: 5px;
  margin: 80px;
  }

.flex-item3 {
  margin: 5px;
  }

.row {
  align-items: center;
  width: 100%;
  margin-top: 10px;
  }


a:link {
font-family: "Avenir", Helvetica, Arial, sans-serif;
text-transform: uppercase;
letter-spacing: 5px;
font-weight: medium;
color: white;
}





.header {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #282828;
  text-align: center;
  }

.personal-data-title {
  text-transform: uppercase;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  }

.personal-data-content {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #282828;
  display: flex;
  }


.content-left {
 .personal-data {
   float: left;
   width: 50%;
   padding-right: 20px;
  }


.startseite {
  margin-left: auto;
  margin-right: auto;
  }



.elemente {
  width: 20px;
  }

h1, h2 {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  }


ul, ol, p {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  }




  /* work */


  .gallery {

    transform: scale(10%);
    position: absolute;
    margin: 0 auto;
    padding: 5px;
    float: left;
    padding: 5px;
    display: flex;
  }
